$roboto: 'Roboto Serif', sans-serif
$stick-no-bills: 'Stick No Bills', sans-serif
$color-principal: #731F3E
$color-principal2: #D92958
$color-secundario: #1462A6
$color-secundario2: #439FD9
$color-texto: #333333